QNAP_URL=http://192.168.10.114/
QNAP_USERNAME=admin
QNAP_PASSWORD=change-me

OPNSENSE_URL=http://192.168.10.1
OPNSENSE_API_KEY=change-me
OPNSENSE_API_SECRET=change-me

HEADLESS=false
IGNORE_HTTPS_ERRORS=true
API_TOKEN=change-me-long-random-string
